<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Please select the name </h1>
        <form action="" method="POST">
            {% csrf_token %}
            <select name="data_ret" id="data_ret">
                {% for i in ret_obj %}
                <option value="{{ i.agent_code }}">{{ i.agent_name }}</option>

                {% endfor %}
            </select>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>